/* app css stylesheet */
body {
  background-color: #52575c;
  cursor: pointer;
}

.homeicon {
    padding-top: 5px;
}

.alignCenter {
    text-align: center;
}

.bookForm {
    margin: 0 auto;
}

label, h1 {
    color: #cfd2da;
}