/* app css stylesheet */
body {
  background-color: #52575c;
}

.homeicon {
    padding-top: 5px;
}

.alignCenter {
    text-align: center;
}

.bookForm {
    margin: 0 auto;
}

label, h1 {
    color: #9d9d9d;
}

.checkColor {
    color: darkgreen;
}

.crossColor {
    color: darkred;
}

.lineWidth {
    width: 15%;
}

.wait {
    position: absolute;
    top: 30%;
    left: 50%;
}